/CSFuncExt_Example/.idea/.idea.CSFuncExt_Example/.idea/.gitignore
/CSFuncExt_Example/.idea/.idea.CSFuncExt_Example/.idea/encodings.xml
/CSFuncExt_Example/.idea/.idea.CSFuncExt_Example/.idea/indexLayout.xml
/CSFuncExt_Example/.idea/.idea.CSFuncExt_Example/.idea/vcs.xml
/CSFuncExt_Example/bin/Debug/net8.0/CSFuncExt_Example.deps.json
/CSFuncExt_Example/bin/Debug/net8.0/CSFuncExt_Example.dll
/CSFuncExt_Example/bin/Debug/net8.0/CSFuncExt_Example.exe
/CSFuncExt_Example/bin/Debug/net8.0/CSFuncExt_Example.pdb
/CSFuncExt_Example/bin/Debug/net8.0/CSFuncExt_Example.runtimeconfig.json
/CSFuncExt_Example/bin/Debug/net8.0/CSharpFunctionalExtensions.dll
/CSFuncExt_Example/obj/Debug/net8.0/ref/CSFuncExt_Example.dll
/CSFuncExt_Example/obj/Debug/net8.0/refint/CSFuncExt_Example.dll
/CSFuncExt_Example/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/CSFuncExt_Example/obj/Debug/net8.0/apphost.exe
/CSFuncExt_Example/obj/Debug/net8.0/CSFuncEx.7F0B28E5.Up2Date
/CSFuncExt_Example/obj/Debug/net8.0/CSFuncExt_Example.AssemblyInfo.cs
/CSFuncExt_Example/obj/Debug/net8.0/CSFuncExt_Example.AssemblyInfoInputs.cache
/CSFuncExt_Example/obj/Debug/net8.0/CSFuncExt_Example.assets.cache
/CSFuncExt_Example/obj/Debug/net8.0/CSFuncExt_Example.csproj.AssemblyReference.cache
/CSFuncExt_Example/obj/Debug/net8.0/CSFuncExt_Example.csproj.CoreCompileInputs.cache
/CSFuncExt_Example/obj/Debug/net8.0/CSFuncExt_Example.csproj.FileListAbsolute.txt
/CSFuncExt_Example/obj/Debug/net8.0/CSFuncExt_Example.dll
/CSFuncExt_Example/obj/Debug/net8.0/CSFuncExt_Example.GeneratedMSBuildEditorConfig.editorconfig
/CSFuncExt_Example/obj/Debug/net8.0/CSFuncExt_Example.genruntimeconfig.cache
/CSFuncExt_Example/obj/Debug/net8.0/CSFuncExt_Example.GlobalUsings.g.cs
/CSFuncExt_Example/obj/Debug/net8.0/CSFuncExt_Example.pdb
/CSFuncExt_Example/obj/CSFuncExt_Example.csproj.nuget.dgspec.json
/CSFuncExt_Example/obj/CSFuncExt_Example.csproj.nuget.g.props
/CSFuncExt_Example/obj/CSFuncExt_Example.csproj.nuget.g.targets
/CSFuncExt_Example/obj/project.assets.json
/CSFuncExt_Example/obj/project.nuget.cache
/CSFuncExt_Example/obj/project.packagespec.json
/CSFuncExt_Example/obj/rider.project.model.nuget.info
/CSFuncExt_Example/obj/rider.project.restore.info
